<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <package name="cc.nekocc.cyanchatroom.model.entity"/>
    </typeAliases>

    <typeHandlers>
        <typeHandler handler="cc.nekocc.cyanchatroom.model.impl.UUIDTypeHandler"/>
    </typeHandlers>

    <mappers>
        <mapper resource="mappers/SchemaMapper.xml"/>
        <mapper resource="mappers/ConversationMapper.xml"/>
        <mapper resource="mappers/MessageMapper.xml"/>
    </mappers>

</configuration>
